:root.theme-dark {
  --page-bg-color: #000028;
  --page-bg-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --section-title-color: #ff0070;
  --main-text-color: #f1b2ce;
  --decor-color: #ff0070;
  --button-text-color: #ff0070;
  --button-hover-color: rgb(255 0 112 / 0.4);
}
